body {
    background-color: #f8f8f8;
    margin: auto;
    width: 100%;
}
div#error {
    background: url("error.jpg")center no-repeat;
margin: auto;

}
div#image1 {
    background: url("img1.jpg") center no-repeat;
    height: 60%;
    width: 60%;

    align-items: center;
    align-content: center;
}
div#image2 {
    background: url("../images/img2.jpg")center no-repeat ;
    height: 60%;
    width: 60%;
    align-items: center;
    align-content: center;
}
div#image3 {
    background: url("../images/img3.jpg")center no-repeat;
    height: 60%;
    width: 60%;
    align-items: center;
    align-content: center;}
div#image4 {
    background: url("../images/img4.jpg")center no-repeat;
    height: 60%;
    width: 60%;
    align-items: center;
    align-content: center;}
div#image5 {
    background: url("img5.jpg")center no-repeat;
    height: 60%;
    width: 60%;
    align-items: center;
    align-content: center;}
div#statusbar {
    background: url("statusbarbg.png") repeat-x;
    border-bottom: 2px groove #bababa;
    height: 40px;
    width: 100%;
}

div#statusbarcontent {
    margin: 1px auto 0px auto;
    height: 14px;
    width: 800px;
}

div#statusbarcommands {
    height: 14px;
    width: 400px;
}

div#header {
    background: url("headerimage.jpg") no-repeat center;

    border-bottom: 2px ridge #ffffff;
    height: 200px;
    width: 100%;
}

form#searchform input[type="submit"] {

    float: right;
    width: 100px;
}

form#searchform input[type="text"] {
    background: url("searchfield.png") no-repeat;
    border:none;
    height:25px;
    padding: 5px 5px 0px 20px;
    width:210px;
    float: right;
}
form#searchform input[type="password"] {
    background: url("searchfield.png") no-repeat;
    border:none;
    height:25px;
    padding: 5px 5px 0px 20px;
    width:210px;
    float: right;
}
a#account{
    float: right;
    padding-top: 7px;
    width: 250px;
}

p#welcome {
    float: left;
    padding-top: 7px;
    width: 350px;
}


p#actionbar {
    background: url("actionbarbg.png") no-repeat;
    height: 14px;
    margin-left:180px;
    padding: 16px 20px;
    width: 220px;
}

p#actionbar a:before {
    content: '| ';
}

p#actionbar a[title="License"]:after {
    content: ' |';
}
div#header {
    background: url("headerimage.jpg") no-repeat center;
    background-color: #000000;
    border-bottom: 2px ridge #ffffff;
    height: 250px;
    width: 100%;
}

div#logo {
    margin: auto;
    padding-top: 35px;
    width: 800px;

}

div#logo1 {
   margin: auto;
    padding: 35px;
    width: 600px;
}
ul#paginat {
    float: left;
    width: 100%;
    margin: auto;
}
ul#change {
    /*float: left;*/
    width: 800px;
    margin: auto;
}
button#changeBtn{
    /*float: left;*/
    /*margin-top: 20px;*/
    margin: auto;
    width: 100%;

}
button#changeBtn2{
    float: right;
    /*margin-top: 20px;*/
}
button#changeBtn3{
    float: left;

}
div#footerimage {
    background: url("footerimage.jpg") no-repeat #000000 center;
    border-top: 2px groove #ffffff;
    border-bottom:2px ridge #ffffff;
    height:50px;
    width:100%;
}

p#footertext {
    background: url("contenttopshadow.png") repeat-x;
    height: 37px;
    padding-top: 13px;
    width: 100%;
}
div#contentbottomshadow {
    background: url("contentbottomshadow.png") repeat-x;
    clear: both;
    height: 20px;
    width: 100%;
}
div#roomEditLeft {

    width: auto;
    float: left;
}
div#roomEditRight {

    width: auto;
    margin-top: 0px;
    margin-left: 500px;
    float: left;
}

div#roomAdminGeneral{
    width: 100%;
    height: 100%;
}
div#accordion2{
    width: 70%;
    margin-left: 230px;

}
form#next{
    /*float: right;*/
    margin-top: 20px;
}
form#back{
    /*float: left;*/
    margin-top: 20px;
}

select#roles{
    float: right;
    width: 20%;

}
form#pagination{
    float: left;

}
form#registration{
    width: 50%;

}
form#conf{
    float: left;
}
form#unproc{
    float: left;
}
form#unconf{
    float: left;
}
div#Demo-BS{

    width: 500px;
}
select#search{
    float: left;
    width: 200px;
}
input#search1{
    float: left;
    height: 33px;
}
input#calendar{
    height: 33px;
}
input#calendar2{
    height: 33px;
}
.b1 {
    background: #2271D8; /* ????? ???? ???? */
    color: white; /* ????? ????? */
    font-size: 14pt; /* ?????? ?????? ? ??????? */
}
.b2 {
    background: #f0ebeb;
    color: #2271D8;
    font-size: 12pt; /* ?????? ?????? ? ??????? */
    float: right;
    height: 23px;
    width: 100px;
}
.adminbtn {
    background: #2271D8; /* ????? ???? ???? */
    color: white; /* ????? ????? */
    font-size: 16pt; /* ?????? ?????? ? ??????? */
    height: 33px;
    width: 500px;
}
label#message{
font-size: 18pt;
}